/* Formulário de login */

.alertaFormLoginEmail {
    color: #ff0000;
    float: right;
    display: none;
    font-size: 10px;
}

.alertaFormLoginSenha {
    color: #ff0000;
    float: right;
    display: none;
    font-size: 10px;
}

div .formLogin {
    padding-bottom: 80px;
}